@model Lab02.Models.Course
@{
    ViewBag.Title = "Create";
}

<h2>Create new Course</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(model => model.CourseName)
            @Html.EditorFor(model => model.CourseName)
            @Html.ValidationMessageFor(model => model.CourseName)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Duration)
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Fee)
            @Html.EditorFor(model => model.Fee)
            @Html.ValidationMessageFor(model => model.Fee)
        </div>
        <br /><br />
        <div>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
    <div>
        <h2>@ViewBag.Msg</h2>
    </div>
}

